<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/ApiRoad']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">APIROAD</a>
  <a [routerLink]="['/resolving']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">RESOLVING</a>
</nav>
